# Fichiers et dossiers à ignorer pour ce projet Python
__pycache__/
parsetab.py
*.pyc
Digraph.gv
# Fichiers générés par Graphviz et PLY
Digraph.gv
Digraph.gv.pdf
parser.out
# Fichiers temporaires ou générés
*.log
*.tmp
# Dossier de cache
.cache/
